<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="proMe">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-image: url('/err.png');
        }
        div{
            /* text-align: center; */
        }
        pre{
            position: fixed;
            font-size: 4em;
            left: -8em;
            text-shadow: 0 0 10px black;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <pre>
                404 
                File not Found
            </pre>
        </div>
    </div>
</body>
</html>