<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav>
        <a href="nav.html" target="iframe">Project - Modnaved Routing</a>
        <a href="sort.html" target="iframe" >Clean Schedule 🧾</a>
        <a href="str.html"  target="iframe">Stringy Play 🎭</a>
        <a href="info.html"  target="iframe">More Info</a>
        <a href="/info"  target="iframe"> Info</a>
        <a href="/"  target="iframe">INDEX</a>
        <a href="Viral.html"  target="iframe">Viral</a>
    </nav>
</body>
</html>